<div class="container py-3">
    <div class="row row-cols-1 row-cols-md-4 g-5 py-4">
        {{#each products}}
            <div class="col">
                <div class="card shadow product" data-id-pd="{{this._id}}">
                    <img src="{{this.img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{this.name}}</h4>
                        <h3 class="card-price mt-4">{{this.price}}$</h3>
                    </div>
                    <div class="mb-5 d-flex justify-content-around">
                        <div id="wish-list">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                        <button class="btn btn-primary">Buy Now</button>
                    </div>
                    <div id="discount" class="text-center">
                        <p>Sale {{this.discount}}%</p>
                    </div>
                </div>
            </div>
        {{/each}}
        
    </div>
    <div id="pagination" class="d-flex justify-content-center">
        {{> component/layout/pagination currentPage=currentPage numberPages=numberPages}}
    </div>
</div>