<div class="container col" id="products">
  <div id="header-container">
    <h3 id="title" class="text-center">Canceled List</h3>
  </div>
  <div class="select-action mt-lg-5">
    <select id="mass-action">
      <option value="0">Batch Actions</option>
      <option value="2">Restore</option>
    </select>
    <div class="btn btn-primary" style="margin-left: 4rem;" id="submit-action">Actions</div>
  </div>
  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col" >
          <input type="checkbox" id="select-all">
        </th>
        <th scope="col">
          Name
          {{{sortable _sort 'name'}}}
        </th>
        <th scope="col">
          Address
          {{{sortable _sort 'address'}}}
        </th>
        <th scope="col">
          Phone Number
          {{{sortable _sort 'phoneNumber'}}}
        </th>
        <th scope="col">
          Purchase Date
          {{{sortable _sort 'dateBuy'}}}
        </th>
        <th scope="col">
          Quanlity
          {{{sortable _sort 'quanlity'}}}
        </th>
        <th scope="col">
          Total Amount
          {{{sortable _sort 'price'}}}
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each cart}}
            <tr>
                <td scope="row">{{sum @index 1}}</td>
                <td>
                  <input type="checkbox" id="checked-input" data-id1="{{this.idCart}}" data-id2="{{this.id}}">
                </td>
                <td>{{this.name}}</td>
                <td>{{this.address}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.dateBuy}}</td>
                <td>{{this.quanlity}}</td>
                <td>{{this.price}}$</td>
                <td>
                    <a href="" 
                      style="color: white;"
                      class="btn btn-link btn-primary text-decoration-none" 
                      data-bs-toggle="modal" 
                      data-bs-id1="{{this.idCart}}"
                      data-bs-id2="{{this.id}}"
                      data-bs-target="#confirm-modal">Restore</a>
                </td>
            </tr>
      {{else}}
        <td colspan="5" class="text-center">
          Wish list is empty!
        </td>
      {{/each}}
    </tbody>
  </table>
  <div class="pagination d-flex justify-content-center">
    {{> component/layout/pagination currentPage=currentPage numberPages=numberPages}}
  </div>
</nav>
{{!-- Confirm delete --}}

<div class="modal" id="confirm-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Submit your action!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to restore the product?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
        <button id="confirm-delete" type="button" class="btn btn-danger" >Restore</button>
      </div>
    </div>
  </div>
</div>
{{!-- FORM DELETE --}}


<form id="form-confirm-delete" method="POST"></form>
<form id="form-edit-product" method="POST"></form>


<script>
  document.addEventListener('DOMContentLoaded', function()  {
    var modal = document.getElementById('confirm-modal')
    var selectAll = document.getElementById('select-all')
    var inputs = document.querySelectorAll('#checked-input')
    var btnSubmit = document.getElementById('submit-action')
    var actionForm = document.getElementById('mass-action')
    var form = document.getElementById('form-confirm-delete')

    modal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
      var id1 = button.getAttribute('data-bs-id1')
      var id2 = button.getAttribute('data-bs-id2')
      var btnDeleteCofirm = document.getElementById('confirm-delete');
      btnDeleteCofirm.onclick = function() {
        form.action = 'http://localhost:3000/private/canceled/' + id1  +'/'+ id2+'/restore?_method=PATCH'
        form.submit()
      }
    })

    //handle button if list empty
    if(inputs.length === 0) {
      btnSubmit.setAttribute('disabled','')
    } 

    //handle select checkbox 
    selectAll.onchange = () => {
      if(selectAll.checked === true) {
        inputs.forEach(input => input.checked = true)
      } else {
        inputs.forEach(input => input.checked = false)
      }
    }

    const arrInput = [...inputs]
    inputs.forEach((input) => {
      input.onchange = () => {
        const countChecked = arrInput.every(i => i.checked)
        if(countChecked === false) {
          selectAll.checked = false
        }
      }
    })

    //handle click button submit-action

    function convertUri(value) {
      return encodeURIComponent(JSON.stringify(value))
    }

    btnSubmit.addEventListener('click', () => {
      const inputChecked1 = arrInput.filter(input => input.checked).map(input => input.dataset.id1)
      const inputChecked2 = arrInput.filter(input => input.checked).map(input => input.dataset.id2)
      switch(actionForm.value) {
        case '0':
          break;
        case '1':
          break;
        case '2':
          let uri = ''
          for(let i = 0; i < inputChecked1.length; ++i) {
            if(uri != '') {
              uri += '&'
            }
            uri += decodeURIComponent(inputChecked1[i]) +'='+ decodeURIComponent(inputChecked2[i])
          }
          console.log(uri)
  	      form.action = 'http://localhost:3000/private/canceled/' + uri +'/restoreList?_method=PATCH'
          form.submit()
          break;
      }
    })
  })
</script>

</div>
